In [5]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

Company =pd.read_csv('Fortune500CompaniesUS.csv', encoding ='latin1')
Company.head(2)

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.8%,"$13,643.0",-7.2%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.1%,"$24,074.0",0.0%,"$6,20,854","$4,11,035"

In [19]:
# The Groupby() function

ByCompname = Company.groupby('Company Name')
ByCompname

In [20]:
len(ByCompname)

497

In [21]:
ByCompname.size()

Company Name
3M                        1
A-Mark Precious Metals    1
ABM Industries            1
ADP                       1
AECOM                     1
                         ..
Yum China Holdings        1
Zimmer Biomet Holdings    1
eBay                      1
iHeartMedia               1
salesforce.com            1
Length: 497, dtype: int64